.lp_nav{
background-color: #a335ad31;
border: 6px solid #a335ad1e;
border-radius: 40px 40px 40px 40px;
}
body{
background-color: black;
}
.lp_nav_text{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	width: 8em;
	margin-left: auto;
	margin-right: 75;
}

